{% extends "base.html" %}

{% load nav %}
{% load categories %}
{% load authors %}

{# meta data #}
{% block metadescription %}{% endblock %}
{% block metakeywords %}{% endblock %}
{% block pagetitle %}{{ category.title }}{% endblock %}

{% block fb_title %}{% endblock %}
{% block fb_type %}{% endblock %}
{% block fb_image %}{% endblock %}
{% block fb_url %}{% endblock %}
{% block fb_description %}{% endblock %}

{# page specific includes (stylesheets, javascripts) #}
{% block additional_head_items %}{% endblock additional_head_items %}

{# body id #}
{% block bodyid %}{{ block.super }}{% endblock %}{# for 'base' body id use {{ block.super }} #}

{# body class #}
{% block bodyclass %}{{ block.super }}{% endblock %}{# for 'base' body class use {{ block.super }} #}

{% block nav %}
    {% nav "blog" %}
    {{ block.super }}
{% endblock %}

{# content #}
{% block content %}
    <section>
        <h1>Entries Categorized As {{ category.title }}</h1>
        {% for entry in object_list %}
            {% include "blog/_entry_list_snippet.html" %}
        {% endfor %}
    </section>
{% endblock content %}

{# javascript #}
{% block javascript %}
    {{ block.super }}
{% endblock %}
